@import 'mixins';

$number: 16;
$size: 16px;

.icon__traffic-light-container {
  display: flex;
  align-items: center;

  span {
    &.icon__traffic-light {
      min-width: $size;
      min-height: $size;
      height: $size;
      width: $size;
      display: inline-block;
      border-radius: $number/2 + px;
      @include placeholderBackgroundImage($number);

      &--red {
        // background-color: red;
        @include placeholderBackgroundImage($number + '/ff0000');
      }

      &--green {
        // background-color: green;
        @include placeholderBackgroundImage($number + '/008000');
      }

      &--orange {
        // background-color: orange;
        @include placeholderBackgroundImage($number + '/ffa500');
      }
    }
  }
}
