ul {
  &.report__list {
    li.report__list-item {
      & a {
        color: $foreground-color;
      }

      .report__list-item-question,
      .report__list-item-answer {
        padding-left: 1em;
        padding-right: 1em;
      }

      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      .report__list-item-question {
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 600;
      }

      .report__list-item-answer {
        padding-bottom: 1em;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:nth-child(odd):hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &.index__bathingspot-list {
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    list-style-type: disc;

    li.index__bathingspot-list-item {
      list-style: none;
      line-height: 2em;

      & a {
        text-decoration: none;
        width: auto;
        display: block;
        color: $foreground-color;

        &:hover {
          background-color: rgba(37, 15, 118, 0.5);
        }

        & span.spot-title {
          padding-left: 1em;
          font-weight: 700;
        }

        & span.spot-water {
          padding-left: 1em;
        }
      }

      &:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
      }

      a.index__bathingspot-list-item-button {
        display: inline;
      }
    }
  }
}

.bathingspot__body-addon {
  ul {
    list-style: none;

    li {
      list-style: none;
    }
  }
}
