$mapHeight: 400px;
#map__container {
  position: relative;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  width: 100%;
  height: $mapHeight;
}
@import '~mapbox-gl/dist/mapbox-gl.css';
#map__container > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $mapHeight;
}
