
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/00_nginx_set_basic_auth.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -ev
      echo "running appdeployhook to generate a password for the nginx"
      CONTAINER_ID=$(sudo docker ps -aqf "name=nginx")
      USERNAME=opencpu
      OPENCPU_PW=$(/opt/elasticbeanstalk/bin/get-config environment -k OPENCPU_PW)
      # PASSWORD=$(date +%s | sha256sum | base64 | head -c 43)
      sudo docker exec $CONTAINER_ID /bin/sh -c "htpasswd -bc /etc/nginx/.htpasswd $USERNAME $OPENCPU_PW && echo $OPENCPU_PW > PASSWORD.txt"
      sudo docker exec $CONTAINER_ID /bin/sh -c "cat PASSWORD.txt"
